@charset "utf-8";
/* CSS Document */
a{color:#94999d}
body{ background-color:#fff}
.chose{ color:#2a8ae0}
.ui-loader-default{ display:none;!important}
.ui-mobile-viewport{ border:none;!important}
.ui-page {padding: 0; margin: 0; outline: 0;!important}


/*---------------------*/
.minute-return,.minute-memu{ float:left}
.minute-return{
	 width:30px; 
	 height:30px;
	 border-radius:500px;
	 background-color:#000; 
	 opacity:0.5; 
	 background-image:url(../images/minute_return.png); 
	 background-size: auto 22px;
	 background-repeat:no-repeat; 
	 background-position:center center;
	 position: absolute;
	 left: 10px;
	 top: 10px;
	 z-index: 1;
	 }
.minute-memu{
	width:30px; 
	height:30px;
	border-radius:500px;
	background-color:#000; 
	opacity:0.5; 
	background-image:url(../images/minute_memu.png);
	background-size: 21px auto;
	background-repeat:no-repeat; 
	background-position:center center;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	}

.addWrap{ position:relative; width:100%;background:#fff;margin-bottom:25px; padding:0;border-bottom: solid 1px #e8e8e8;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;height: 230px;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}

#position{ position:absolute; bottom:10px; right:32%; padding-right:8px; margin:0; opacity: 0.4; width:100%;text-align:right;}
#position li{width:15px;height:15px;margin:0 5px;display:inline-block;-webkit-border-radius:500px;border-radius:500px;background-color:#555555;}
#position li.cur{background-color:#000;}
.img-responsive { display: block;width: 100%;  height: auto;}


/*---------------*/
.minute-main{
    padding-left: 8%;
	overflow: hidden;
	}
.minute1{
	border-bottom:dashed 1px #aaaaaa;
	overflow: hidden;
	}
.minute1 h2{  
   font-weight: normal;
   color: #2e2d2d;
   font-size: 2.5rem;
   font-family:"Microsoft Yahei" 
   }
.monthly{
   color:#9b9999;
   font-size: 1.6rem;
   font-family:"Microsoft Yahei" 
	}  
.monthly-put{
	font-size:2.2rem;
	color:#cd303b;
	display:block;
	}
.monthly,.book{ float:left} 
.monthly-main{
	overflow: hidden;
    margin-top: 10px;
	padding-bottom: 10px;
	}
.book{
   display: block;
   background-color: #d0464f;
   color: #fff;
   font-size: 1.6rem;
   font-family: "Microsoft Yahei";
   width: 30%;
   height: 35px;
   text-align: center;
   line-height: 35px;
   float: right;
   border-radius: 3px;
   margin-right: 5px;
   margin-top: 2%;
}
 
.minute2{margin-top: 10px;} 
.minute2 h2{  
   font-weight: normal;
   color: #3d3d3d ;
   font-size: 2.5rem;
   font-family:"Microsoft Yahei" 
   }  
.car-message{
   color: #666767;
   font-size: 1.6rem;
   padding-top: 10px;
   width:100%;
   background-color:#fff;
   font-family:"Microsoft Yahei" ;
   }
.message{ 
	overflow:hidden;
	margin-bottom: 5px;
	}
.message a{
	display:block;
	float:left
	}   
.message1{ 
	overflow:hidden;
	width:85%; 
	margin:auto
	}
#left{
    width: 25%;
    text-align: right;
	}
#right{
	float:right;
    width: 70%;
    text-align: left;
	}
.bg{ background-color:#eceef0;}  
.botton-hide{background-color: #fff;}

@media screen and (min-width: 375px) and (max-width:410px){	
.minute1 h2 {
  font-size: 2.8rem;
}
.monthly-put {
  font-size: 2.6rem;
}
.monthly {
  font-size: 1.7rem;
}
.book {
  font-size: 2rem;
  width: 33%;
  height: 40px;
  line-height: 40px;
  margin-top: 2%;
}
.car-message{
   font-size: 1.7rem;
   }
.minute-return{
	 width:40px; 
	 height:40px;
	 background-size: auto 32px;
	 left: 20px;
	 top: 20px;
	 }
.minute-memu{
	width:40px; 
	height:40px;
	background-size: 31px auto;
	right: 20px;
	top: 20px;
	}
}

@media screen and (min-width: 410px) and (max-width:414px){	
.minute1 h2 {
  font-size: 3.2rem;
}
.monthly-put {
  font-size: 3rem;
}
.monthly {
  font-size: 1.8rem;
}
.car-message{
   font-size: 1.9rem;
   }
.book {
  font-size: 2.2rem;
  width: 33%;
  height: 50px;
  line-height: 50px;
  margin-top: 2%;
}
.minute-return{
	 width:40px; 
	 height:40px;
	 background-size: auto 32px;
	 left: 20px;
	 top: 20px;
	 }
.minute-memu{
	width:40px; 
	height:40px;
	background-size: 31px auto;
	right: 20px;
	top: 20px;
	}
}











