@charset "utf-8";
/* CSS Document */
a{color:#94999d}
.chose{ color:#2a8ae0}
/*输入框*/
.co-contain{ margin-top:3rem; width:100%; }
.login-box{background:#fff; width:90%; margin:0 auto; border:1px solid #dedede; height:70px; border-radius:5px 5px 0px 0px; border-bottom:none;}
.login-box2{background:#fff; width:90%; margin:0 auto;height:70px; border-radius:0px 0px 5px 5px;  margin-top: 20px;}
.login-put{ width:100%;position:relative;}
.pwd-put{ width:100%;position:relative;}


.login-input2{ height:40px; line-height:40px; width:100%; border-radius:5px 5px 0px 0px ; border-bottom:none; padding-left:5rem; font-family:"Microsoft Yahei" ; font-size:2rem; color:#848484;}
.pwd-input{  height:40px; line-height:40px; width:100%; border-radius: 5px; padding-left:5rem; font-family:"Microsoft Yahei"; font-size:2rem; color:#848484;border:1px solid #dedede; border-radius:5px;background:#fff;}
.pwd-input2{  height:40px; line-height:40px; width:100%; border-radius:0px 0px 5px 5px; padding-left:5rem; font-family:"Microsoft Yahei"; font-size:2rem; color:#848484;border:1px solid #dedede;}

			
			.vertify-input{  width:58%;}
			.login-put b.login-icon{ background:url(../images/weixin_login_icon_phone.png) no-repeat center center; width:32px; height:32px; position:absolute; top:0.4rem; left:0.4rem;background-size: 22px auto;}
			.pwd-put b.pwd-icon{background:url(../images/weixin_login_icon_lock.png) no-repeat center center; width:32px; height:32px; position:absolute; top:1.3rem; left:1.3rem;}
			.pwd-put b.vertify-icon{background:url(../images/weixin_login_icon_card.png) no-repeat center center; width:32px; height:32px; position:absolute;top: 0.4rem;left: 0.4rem;background-size: 22px auto;}
			.pwd-put b.favour-icon{background:url(../images/weixin_login_icon_card.png) no-repeat center center; width:32px; height:32px; position:absolute; top:3.1rem; left:2rem;}
			
.co-bottom{ margin-top:3rem; width:100%;}
	
		.login-btn a{ background:#47b0ed; color:#fff; display:inline-block; width:100%; border-radius:5px;}
	.login-other{ width:90%; margin:0 auto; margin-top:1rem;}
		.login-other i{ font-style:normal;font-family:"Microsoft Yahei" ; font-size:1.125rem; color:#47b0ed;}
		.login-other i a{ color:#47b0ed;}
		.login-other i.login-forgetpwd{ float:right;}	