%;@charset "utf-8";
/* CSS Document */
a{color:#94999d}
.chose{ color:#2a8ae0}
body{background-color:#fff}

#nav-cell {
position:fixed;
right: 10px;
top: 0px;
}


.message-title{
	width:90%;
	margin:auto;
	border-bottom:dashed 1px #999999;
	padding-bottom: 5px;
	}
.message-title em{
	line-height:40px;
	font-size: 2.2rem;
    font-family:"Microsoft Yahei";	
	}
.message-minute-time{
	color:#b1b3b7;
	line-height:25px;
	font-size: 1.7rem;
    font-family:"Microsoft Yahei";
	}
.message-minute-main em{
	width:90%;
	margin:auto;
	display:block;
	color:#737171;
	font-family: "Microsoft Yahei";
    font-size: 1.7rem;
    font-style: normal;
    margin-top: 10px;
	line-height: 25px;
	}
.message-minute-main p{
	font-family: "Microsoft Yahei";
    font-size: 1.7rem;
    font-style: normal;
	color:#f43838;
	height:0px;
    line-height:normal;
    padding-left: 0px;
	margin-top: 5px;
	}
@media screen and (min-width: 375px) and (max-width:410px){	
.message-title em{
	line-height:50px;
	font-size: 2.5rem;
	}
.message-minute-time{
	line-height:30px;
	font-size: 1.9rem;
	}
.message-minute-main em{
    font-size: 2.1rem;
    margin-top: 15px;
	line-height: 28px;
	}
.message-minute-main p{
    font-size: 2rem;
	}
}  
@media screen and (min-width: 410px) and (max-width:414px){	
.message-title em{
	line-height:50px;
	font-size: 2.5rem;
	}
.message-minute-time{
	line-height:30px;
	font-size: 2rem;
	}
.message-minute-main em{
    font-size: 2.1rem;
    margin-top: 15px;
	line-height:28px
	}
.message-minute-main p{
    font-size: 2rem;
	}
}  