@charset "utf-8";
/* CSS Document */
a{color:#94999d}
.chose{ color:#2a8ae0}


#nav-cell {
position:fixed;
right: 10px;
top: 0px;
}

/*条件筛选*/
.lis-title{ 
	width:100%; 
	height:50px;
 	background-color:#fff;
	border-bottom:solid 1px #b2b2b2;
	position: fixed;
	top: 44px;
	z-index:0
	}
.lis-title a{
	font-family:"微软雅黑";
	font-size:1.6rem;
	line-height:50px;
	width: 25%;
	display: block;
	float: left;
	text-align:center;
	}
.parting{
	background-image:url(../images/weixin_list_parting.png);
	background-repeat: no-repeat;
    background-position: center right;
	padding-left: 7px;
	padding-right: 7px;
	}
.screen{
	border-left:solid 1px #e4e5e8;
	
	}
  
/*models*/
.models-main{
	width:100%;
	position: absolute;
    top: 94px;
	}
.modelses{
	width:100%;
	background-color:#fff;
	padding:10px;
	border-bottom:solid 1px #e0dfdf;
	overflow:hidden;
	font-family:"微软雅黑";
	font-size:1.6rem;
	} 
.car-show,.car-main,.car-time{ float:left} 
.car-show img{
	width:100%;
	height:auto
	}   
.car-show{width:30%} 
.car-main,.car-time{width:35%;color: #939ca2;}
.car-main{ padding-left:15px}
.car-main h2{ font-weight:normal;margin-bottom: 5px; color:#343333}
.car-time{ float:right; text-align:right;}   
.payment{color:#cd303b}  

 /*-----------nav-cell-----------------*/ 
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	box-shadow: -1px 0px 1px #949494;
}

.cbp-spmenu h3 {
	font-family:"微软雅黑";
	color: #404040;
	font-size: 2em;
	padding: 20px 20px 15px 15px;
	margin: 0;
	font-weight: 300;
	background: #fff;
	border-bottom:1px dashed #d9d9d9;
}

.cbp-spmenu a {
	font-family:"微软雅黑";
	display: block;
	color: #9a9a99;
	font-size: 1.5em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	padding-left:10px
}

.cbp-spmenu a:active {
	background: #eae9e9;
	color: #dd434d;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 44px;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #cdcdcd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}
.botton-left{
	left:-240px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

#cover{
	width:100%; 
	height:100%; 
	background-color:#000;
	z-index: 0;
	opacity: 0.3;
	position: fixed;
	top:0
}  
@media screen and (min-width:414px) and (max-width:420px){	
.modelses{
	font-size:1.8rem;
	} 
.lis-title a{
	font-size: 2rem;
	}
}  
@media screen and (min-width: 375px) and (max-width:414px){	
.modelses{
	font-size:1.8rem;
	} 
.lis-title a{
	font-size:1.8rem;
	}
}  
  