@charset "utf-8";
/* CSS Document */
a{color:#94999d}
.chose{ color:#2a8ae0}
/*输入框*/
.co-contain{ margin-top:3rem; width:100%; }
.login-box{background:#fff; width:90%; margin:0 auto; border:1px solid #dedede; height:70px; border-radius:5px 5px 0px 0px; border-bottom:none;}
.login-box2{background:#fff; width:90%; margin:0 auto;height:70px; border-radius:0px 0px 5px 5px;  margin-top: 20px;}
.login-put{ width:100%;position:relative;}
.pwd-put{ width:100%;position:relative;}


.login-input2{ height:40px; line-height:40px; width:100%; border-radius:5px 5px 0px 0px ; border-bottom:none; padding-left:5rem; font-family:"Microsoft Yahei" ; font-size:2rem; color:#848484;}
.pwd-input{  height:40px; line-height:40px; width:100%; border-radius: 5px; padding-left:5rem; font-family:"Microsoft Yahei"; font-size:2rem; color:#848484;border:1px solid #dedede; border-radius:5px;background:#fff;}
.pwd-input2{  height:40px; line-height:40px; width:100%; border-radius:0px 0px 5px 5px; padding-left:5rem; font-family:"Microsoft Yahei"; font-size:2rem; color:#848484;border:1px solid #dedede;}
.vertify-input{ width:58%; }
.vertify-input2 a:active{
	background-color:#C7C7C7;
	color:#FFFFFF;
	}



			
.co-bottom{ margin-top:3rem; width:100%;}
.login-btn a{ background:#47b0ed; color:#fff; display:inline-block; width:100%; border-radius:5px;}
	
		
/*-----------------------*/
.agree{  
  font-family: "Microsoft Yahei";
  font-size: 1.6rem;
  color: #848484;
  margin-left: 45px;
  }
  
 .checkboxFive label {
  width: 20px;
  height: 20px;
  top: 15px;
  left: 20px;
  }
 @media screen and (min-width: 375px) and (max-width:414px){	

.agree{margin-left:50px;}
.checkboxFive label:after {
	width: 11px;
	height: 6px;
	top: 3px;
	left: 2px;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	top: 3px;
	left: 2px;
}
}
  
  
/*remind*/
.remind{
	width:100%;
	height:100%;
	background-color:#000;
	z-index:2;
	position: fixed;
    top: 0;
    opacity: 0.5;
	}
.remind-box{
	width:100%;
	height:35%;
	position: fixed;
	top: 35%;   
	z-index: 3;
	}
.succeed{
	width: 90%;
  	margin: auto;
 	background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
	}
.hint{  
  font-family: "Microsoft Yahei";
  font-size: 2.3rem;
  color: #7f7f7f;
  height: 30%;
  padding-left: 10px;
  padding-top: 8px;
  }
.reset{
  text-align: center;
  font-family: "Microsoft Yahei";
  font-size: 2.3rem;
  color: #7f7f7f;
  line-height: 9rem;
	}
.succeed a{
  display: block;
  height: 30%;
  text-align: center;
  font-family: "Microsoft Yahei";
  font-size: 2.3rem;
  line-height: 5rem;
  border-top: solid 1px #b7b4b4;
	}
.succeed a:active{ background-color:#d2d4d7}  
.user,.sure{ float:left;width:50%}
.sure{ 
	float:right; 
	background-image:url(../images/weixin_list_parting.png); 
	background-position:center left;
	background-repeat: no-repeat;
	} 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  