@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%; margin:auto; background-color:#f0f0f0;}
html{ font-size:10px}
img,input{ margin:0; padding:0;}
a{text-decoration:none;color:#595858;}
.hidens{ width:100%;height:140px}
.click{ color:#4389c5}
.chose{ color:#e96b73}
/*原始（640）*/

.nav{
	width:100%;
	height:88px;
	background-color:#2a8ae0;
	-moz-box-shadow: 0px 2px 2px #3e75a6;
    -webkit-box-shadow: 0px 2px 2px #3e75a6;
    box-shadow: 0px 2px 2px #3e75a6;
	position: fixed;
	top: 0;
	}
.nav .close,.title,.nav-cell{ float:left}		
.close{
	height:88px;
	width:88px;
	background-image:url(img/close.png);
	background-repeat:no-repeat; 
	background-position:center;
/*这条只是在页面上显示是看的样式，没什么用*/
	cursor:pointer;
	}
.close i{
	background-image:url(img/close.right@2x-I5.png);		    height:88px;
	display:block;
	background-repeat:no-repeat; 
	background-position: right;
	}
.title{
	width:72%;
	font-family:"Microsoft Yahei";
	font-size:4rem;
	color:#fff;
	line-height:88px;
	text-align:center;
	}
.title a{
	width:88px;
	height:88px;
	display:block;
	background-image:url(img/arrows.png);
	background-repeat:no-repeat; 
	background-position: center;
	position:absolute;
	top:1%;
	right:16%;
	cursor:pointer
	}
.nav-cell{
	height:88px;
	width:80px;
	background-image:url(img/nav-cell.png);
	background-repeat:no-repeat; 
	background-position:center;
	float:right;
	}



/*合同列表*/
.lis{
	width:100%;
	height:100%;
	}
.lis-main{
	width:97%;
	margin:auto;
	margin-top:13px;
	background-color:#fff;
	border:solid 1px #e7e6e6;
	overflow:hidden
	}
.markedness{ 
	overflow:hidden;margin: 3% 0 0 3%; 
	border-bottom:dashed 1px #d9d9d9;
	padding-bottom: 1rem;
	}
.markedness img,.serial{ float:left}
.markedness img{
	padding-top:0.2rem;
	}
.serial{
	font-family:"微软雅黑";
	font-size:2.3rem;
	color:#686868;
	margin-left:2rem
	}
.contract,.contract-right{
	float:left;
	}
.contract{
	width: 60%;
	color: #9a9a99;
	font-family: "微软雅黑";
	font-size: 2rem;
	margin: 2rem 0 1.5rem 4.6rem;
	letter-spacing:0.1rem
	}
.contract a{color: #9a9a99;}
.contract div{
	margin-top:3px
	}
.filiale{
	margin-left:1.7rem;
	}
.contract-right{
	float:right;
	color: #9a9a99;
	font-family: "微软雅黑";
	font-size: 2rem;
	margin: 7.5rem 1.5rem 0 0;
	letter-spacing:0.1rem
	}
.contract-right a{
	color:#e96b73;
	}	
.GPS{
	margin-left:3.5rem;
	}
/*底部*/
.botton{
	width:100%;
	height:98px;
	background-color:#fff;
	border-top:solid 1px #b2b2b2;
	overflow:hidden;
	position:fixed;
	bottom:0px
	}
.botton .message,.home,.me{ float:left}
/*第一个*/
.message{
	width:33%;
	}	
.message-icon{ 
	width:100%;
	height:65px;
	background-image:url(img/message@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.message a{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.3rem;
	text-align:center;
	display:block;
	}
/*第二个*/		
.home{
	width:33%;
	}	
.home-icon{ 
	width:100%;
	height:65px;
	background-image:url(img/homeblue@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.home a{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.3rem;
	text-align:center;
	display:block;
	}
/*第三个*/
.me{
	width:33%;
	}	
.me-icon{ 
	width:100%;
	height:65px;
	background-image:url(img/me@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.me a{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.3rem;
	text-align:center;
	display:block;
	}

/*屏幕宽度大于750px小于1080px时(-webkit-min-device-pixel-ratio:2)*/	
@media screen and (min-width: 751px) and (max-width:1080px){
.hidens{ width:100%;height:196px}
.nav{
	height:132px;
	background-color:#2a8ae0;;
	}	
.close{
	height:132px;
	margin-left:20px;
	background-image:url(img/close@2x.png);
	}
.close i{
	background-image:url(img/close.right@2x-I6.png);
	width:100px;
	height:132px;
	display:block;
	background-repeat:no-repeat; 
	background-position: right;
	}
.title{
	font-size:4rem;
	line-height:132px;
	width:70%;
	}
.title a{
	top:23px;
	right:20%;
	background-image:url(img/arrows@3x.png);
	}	
.nav-cell{
	height:132px;
	width:88px;
	background-image:url(img/nav-cell@3x.png);
	margin-right:15px
	}
	
}


/*屏幕宽度大于1080px小于1242px时(-webkit-min-device-pixel-ratio:2)*/	
@media screen and (min-width: 1080px) and (max-width:1242px){
.hidens{ width:100%;height:196px}
.nav{
	height:132px;
	background-color:#2a8ae0;;
	}	
.close{
	height:132px;
	margin-left:20px;
	background-image:url(img/close@2x.png);
	}
.close i{
	background-image:url(img/close.right@2x-I6.png);
	width:100px;
	height:132px;
	display:block;
	background-repeat:no-repeat; 
	background-position: right;
	}
.title{
	font-size:5.2rem;
	line-height:132px;
	width:80%;
	}
.title a{
	top:23px;
	right:26%;
	background-image:url(img/arrows@3x.png);
	}	
.nav-cell{
	height:132px;
	width:88px;
	background-image:url(img/nav-cell@3x.png);
	margin-right:15px
	}

.markedness img{
	padding-top:0.5rem;
	}
.contract{
	font-size: 2.2rem;
	margin: 2rem 0 2rem 4.6rem;
	letter-spacing:0.1rem
	}	
.serial{
	font-size:2.6rem;
	color:#686868;
	}
.contract-right{
	font-size: 2.2rem;
	margin: 7.5rem 3rem 0 0;
	letter-spacing:0.1rem
	}	
.GPS{
	margin-left:3.9rem
	}	
/*-------------------*/

/*底部*/
.botton{
	height:146px;
	position:fixed;
	bottom:0;
	}
/*第一个*/
.message{
	width:33%;
	margin-top:2%
	}	
.message-icon{ 
	height:75px;
	background-image:url(img/message@3x.png);
	}
.message a{
	font-size:3rem;
	margin-top: 1%;
	}
/*第二个*/		
.home{
	width:33%;
    margin-top:2%
	}	
.home-icon{ 
	height:75px;
	background-image:url(img/homeblue@3x.png);
	}
.home a{
	font-size:3rem;
	margin-top: 1%;
	}
/*第三个*/
.me{
	width:33%;
	margin-top:2%
	}	
.me-icon{ 
	height:75px;
	background-image:url(img/me@3x.png);
	}
.me a{
	font-size:3rem;
	margin-top: 1%;
	}

}