@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%; margin:auto; background-color:#f0f0f0;}
html{ font-size:10px}
img,input{ margin:0; padding:0;}
a{text-decoration:none;color:#595858;}
.hidens{ width:100%;height:96px}
.click{ color:#4389c5}
.chose{ color:#e96b73}
.shadow{
	-moz-box-shadow: 0px 1px 1px #3e75a6;
    -webkit-box-shadow: 0px 1px 1px #3e75a6;
    box-shadow: 0px 1px 1px #3e75a6;
	}
.ui-loader-default{ display:none;!important}
.ui-mobile-viewport{ border:none;!important}
.ui-page {padding: 0; margin: 0; outline: 0;!important}
/*原始（640）*/

.nav{
	width:100%;
	height:48px;
	background-color:#2a8ae0;
	-moz-box-shadow: 0px 1px 1px #3e75a6;
    -webkit-box-shadow: 0px 1px 1px #3e75a6;
    box-shadow: 0px 1px 1px #3e75a6;
	position:fixed;
	z-index:1
	}
.shadow{
	width:100%;
	height:48px;
	}
.nav .close,.title,.nav-cell{ float:left}		
.close{
	height:48px;
	width:48px;
	background-image:url(../img/close.png);
	background-repeat:no-repeat; 
	background-position:center;
/*这条只是在页面上显示是看的样式，没什么用*/
	cursor:pointer;
	}
.close i{
	background-image:url(../img/close.right@2x-I5.png);		    height:48px;
	display:block;
	background-repeat:no-repeat; 
	background-position: right;
	}
.title{
	width:75%;
	font-family:"Microsoft Yahei";
	font-size:2.2rem;
	color:#fff;
	line-height:48px;
	text-align:center;
	}
.title a{
	width:48px;
	height:48px;
	display:block;
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat; 
	background-position: center;
	position:absolute;
	top:1%;
	right:16%;
	cursor:pointer
	}
#nav-cell{
	height:48px;
	width:48px;
	background-image:url(../img/nav-cell.png);
	background-repeat:no-repeat; 
	background-position:center;
	float:right;
	position:absolute;
	right:10px;
	border: none;
	background-color: #2a8ae0;
	outline: none;
	cursor:pointer
	}

/*合同列表顶部*/	
.lis-title{ 
	width:100%; 
	height:50px;
 	background-color:#fff;
	border-bottom:solid 1px #b2b2b2;
	border-top:solid 1px #e2e2e2;
	position: fixed;
	top: 48px;
	-moz-box-shadow: 0px 1px 1px #b2b2b2;
    -webkit-box-shadow: 0px 1px 1px #b2b2b2;
    box-shadow: 0px 0px 1px #b2b2b2;
	}
.lis-title a{
	font-family:"微软雅黑";
	font-size:2rem;
	padding-left:20px;
	line-height:50px;
	width: 25%;
	display: block;
	float: left;
	text-align:center;
	}
.chose-arrow{ 
	background-image:url(../img/chose.png);
	width: 22px;
	height: 10px;
	display: block;
	position: absolute;
 	top: 22px;
  	right: 15px;
	}	
/*合同列表*/
.lis{
	width:100%;
	height:100%;
	}
.lis-main{
	width:97%;
	margin:auto;
	margin-top:13px;
	background-color:#fff;
	border:solid 1px #e7e6e6;
	overflow:hidden
	}
.lis-main:active{
	-moz-box-shadow: 0px 0px 3px #2a8ae0;
    -webkit-box-shadow: 0px 0px 3px #2a8ae0;
    box-shadow: 0px 0px 3px #2a8ae0;
	}
.markedness{ 
	overflow:hidden;margin: 3% 0 0 3%; 
	border-bottom:dashed 1px #d9d9d9;
	padding-bottom: 1rem;
	}
.markedness img,.serial{ float:left}
.markedness img{
	padding-top:0.2rem;
	}
.serial{
	font-family:"微软雅黑";
	font-size:2.3rem;
	color:#686868;
	margin-left:2rem
	}
.contract,.contract-right{
	float:left;
	}
.contract{
	width: 92%;
	color: #9a9a99;
	font-family: "微软雅黑";
	font-size: 2rem;
	margin: 0.5rem 0 0 1.5rem;
	letter-spacing:0.1rem
	}
.contract a{color: #9a9a99;}
.contract div{
	margin-top:3px
	}
.filiale{
	margin-left:2rem;
	}
.contract-right{
	color: #9a9a99;
	font-family: "微软雅黑";
	font-size: 2rem;
	margin: 0 0 1.5rem 1.5rem;
	letter-spacing:0.1rem
	}
.contract-right a{
	color:#e96b73;
	}	
.GPS{
	margin-left:3.8rem;
	}
	

/*底部空间*/
.botton-hide{ width:100%; height:20px}

/*侧栏*/
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	box-shadow: -1px 0px 1px #949494;
}

.cbp-spmenu h3 {
	font-family:"微软雅黑";
	color: #404040;
	font-size: 2em;
	padding: 20px 20px 15px 15px;
	margin: 0;
	font-weight: 300;
	background: #fff;
	border-bottom:1px dashed #d9d9d9;
}

.cbp-spmenu a {
	font-family:"微软雅黑";
	display: block;
	color: #9a9a99;
	font-size: 1.5em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	padding-left:10px
}

.cbp-spmenu a:active {
	background: #eae9e9;
	color: #dd434d;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 48px;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #cdcdcd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}
.botton-left{
	left:-240px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

#cover{
	width:100%; 
	height:100%; 
	background-color:#000;
	z-index: 1;
	opacity: 0.3;
	position: fixed;
}