@charset "utf-8";
body{ width:100%; height:100%; margin:auto; background-color:#f0f0f0; position:absolute}
html{ font-size:10px}
img,input{ margin:0; padding:0;}
a{ text-decoration:none;color:#595858;}
.click{ color:#4389c5}
.ui-loader-default{ display:none;!important}
.ui-mobile-viewport{ border:none;!important}
.ui-page {padding: 0; margin: 0; outline: 0;!important}

/*原始（640）*/

.nav{
	width:100%;
	height:48px;
	background-color:#2a8ae0;
	-moz-box-shadow: 0px 1px 1px #3e75a6;
    -webkit-box-shadow: 0px 1px 1px #3e75a6;
    box-shadow: 0px 1px 1px #3e75a6;
	position:fixed;
	z-index: 2;
	}
.shadow{
	width:100%;
	height:48px;
	}
.nav .close,.title,.nav-cell{ float:left}		
.close{
	height:48px;
	width:48px;
	background-image:url(../img/close.png);
	background-repeat:no-repeat; 
	background-position:center;
/*这条只是在页面上显示是看的样式，没什么用*/
	cursor:pointer;
	}
.close i{
	background-image:url(../img/close.right@2x-I5.png);		    height:48px;
	display:block;
	background-repeat:no-repeat; 
	background-position: right;
	}
.title{
	width:75%;
	font-family:"Microsoft Yahei";
	font-size:2.2rem;
	color:#fff;
	line-height:48px;
	text-align:center;
	}
.title a{
	width:48px;
	height:48px;
	display:block;
	background-image:url(../img/arrows.png);
	background-repeat:no-repeat; 
	background-position: center;
	position:absolute;
	top:1%;
	right:16%;
	cursor:pointer
	}
#nav-cell{
	height:48px;
	width:48px;
	background-image:url(../img/nav-cell.png);
	background-repeat:no-repeat; 
	background-position:center;
	float:right;
	position:absolute;
	right:10px;
	border: none;
	background-color: #2a8ae0;
	outline: none;
	cursor:pointer
	}
/*图标*/
.index-icon{ 
	width:100%;
	background-color:#fff;
	border-bottom: solid 1px #e2e2e2;
	}
.index-main{
	width: 100%;
    position:fixed;
	top: 50px;
  }
/*第一行*/
.icon1{ width:100%;overflow:hidden}
.icon1 .leasing,.carmanage,.carmaintain{ float:left}
/*第一个*/
.leasing{
	width:33%;
	padding-top:2%;
	/*这条只是在页面上显示是看的样式，没什么用*/
	cursor:pointer;		
	}	
.leasing-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E7%A7%9F%E8%B5%81%E4%B8%9A%E5%8A%A1@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.leasing span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
/*第二个*/		
.carmanage{
	width:33%;
	padding-top:2%;
/*这条只是在页面上显示是看的样式，没什么用*/
	cursor:pointer;	
	}	
.carmanage-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E8%BD%A6%E8%BE%86%E7%AE%A1%E7%90%86@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.carmanage span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
/*第三个*/
.carmaintain{
	width:33%;
	padding-top:2%	
	}	
.carmaintain-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E8%BD%A6%E8%BE%86%E7%BB%B4%E6%8A%A4@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.carmaintain span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
	
/*第二行*/
.icon2{ width:100%;overflow:hidden; padding-bottom:3%}
.icon2 .finance,.data,.statement{ float:left}
/*第一个*/
.finance{
	width:33%;
	padding-top:3%	
	}	
.finance-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E8%B4%A2%E5%8A%A1%E7%AE%A1%E7%90%86@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.finance span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
/*第二个*/		
.data{
	width:33%;
	padding-top:3%	
	}	
.data-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E8%B5%84%E6%96%99%E5%BA%93@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.data span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
/*第三个*/
.statement{
	width:33%;
	padding-top:3%	
	}	
.statement-main{ 
	width:100%;
	height:75px;
	background-image:url(../img/%E6%8A%A5%E8%A1%A8%E7%AE%A1%E7%90%86@2x.png);
	background-repeat:no-repeat;
	background-position:center;
	}
.statement span{
	width:100%;
	font-family: "微软雅黑";
	font-size:2.2rem;
	color:#595858;
	text-align:center;
	display:block;
	}
/*合同列表顶部*/	
.lis-title{ 
	width:100%; 
	height:40px;
 	background-color:#fff;
	border-bottom:solid 1px #e2e2e2;
	border-top:solid 1px #e2e2e2;
	position:fixed;
	top:284px
	}
.lis-title a{
	color:#2a8ae0;
	font-family:"微软雅黑";
	font-size:2rem;
	padding-left:10px;
	line-height:40px;

	}	
	
.hide{width:100%;height:294px}
/*合同列表*/
.lis{
	width:100%;
	height:100%;
	}
.lis-main{
	width:97%;
	margin:auto;
	margin-top:13px;
	background-color:#fff;
	border:solid 1px #e7e6e6;
	overflow:hidden
	}
.markedness,.contract,.minute{ float:left}
.markedness{
	margin: 3% 0 0 3%; 
	background-image:url(../img/markedness.png);
	width:19px;
	height:24px
	}
.contract{margin: 3.2% 0 3% 4%;}
.contractNO{ 
	font-family:"微软雅黑";
	font-size:1.7rem;
	color:#000000;
	display:block
	}
.contract-time,.contract-day{ 
	font-family:"微软雅黑";
	font-size:1.5rem;
	color:#7e7e7e
	}
.contract-time{margin-top: 5%;display:block}
.contract-day{margin-top: 1%;display:block}
.contract-day b{
	font-weight:normal; 
	color:#ff6766;
	}
.minute{
	font-family:"微软雅黑";
	font-size:1.5rem;
	color:#ff6766;
	float: right;
	margin-top:3%;
	margin-right: 2%;
	margin-bottom: 3%;
	display:block
	}
	
/*---------*/

.botton{
	overflow: hidden;
	position: fixed;
	width: 100%;
	height:49px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	border-top: 1px solid #b2b2b2;
	text-align: center;
	padding: 2px 0;
}
.botton a{
	padding-top: 30px;
	font-size: 1.5rem;
}
.btm-l{
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
	background-image:url(../img/message1.png);
	background-repeat:no-repeat; 
	background-position:center 2px;	
}
.btm-l-cur{
	display: inline-block;
	float: left;
	width: 30%;
	background-image:url(../img/message1blue.png);
	background-repeat:no-repeat; 
	background-position:center 2px;
	 color:#4389c5;
}
.btm-c{
	display: inline-block;
	width: 30%;
	background-image:url(../img/home.png); 
	background-repeat:no-repeat; 
	background-position:center 2px;
}
.btm-c-cur{
	display: inline-block;
	width: 30%;
	background-image:url(../img/homeblue.png); 
	background-repeat:no-repeat; 
	background-position:center 2px;
    color:#4389c5;

}

.btm-r{
	float: right;
	width: 30%;
	text-align: center;
	background-image:url(../img/me.png);
	background-repeat:no-repeat; 
	background-position:center 2px;
}
.btm-r-cur{
	float: right;
	width: 30%;
	text-align: center;
	background-image:url(../img/me-blue.png);
	background-repeat:no-repeat; 
	background-position:center 2px;
	 color:#4389c5;
}

/*-------------侧栏------------------*/
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	box-shadow: -1px 0px 1px #949494;
}

.cbp-spmenu h3 {
	font-family:"微软雅黑";
	color: #404040;
	font-size: 2em;
	padding: 20px 20px 15px 15px;
	margin: 0;
	font-weight: 300;
	background: #fff;
	border-bottom:1px dashed #d9d9d9;
}

.cbp-spmenu a {
	font-family:"微软雅黑";
	display: block;
	color: #9a9a99;
	font-size: 1.5em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	padding-left:10px
}

.cbp-spmenu a:active {
	background: #eae9e9;
	color: #dd434d;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 48px;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #cdcdcd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}
.botton-left{
	left:-240px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

#cover{
	width:100%; 
	height:100%; 
	background-color:#000;
	z-index: 1;
	opacity: 0.3;
	position: fixed;
}